@{
    ViewData["Title"] = "Despre";
}

<h3>Q Shop</h3>

<p>Bine ati venit pe site-ul Q Shop</p>
<p>
    Q shop este o companie online de dimensiuni mici  care pune pe primul loc clientul si dorintele lui. Cum punem, de fapt,
    pe primul loc clientul? Puteti scrie feedback 24 ore pe chat despre noi. Iar, noi va vom raspunde in maxim 5 minute si vom
    face tot ce sta in puterea noastra sa va rezolvam cerintele.
</p>
<p>Va multumim ca ati ales Q Shop!</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
