@{
    ViewData["Title"] = "Home Page";
}

<h3 class="display-4">Q Shop</h3>

<div class="list-group">

    <a asp-controller="Produs" asp-action="DetaliiProdus" asp-route-articol="Milka">Promotie Milka</a>
    <a asp-controller="Produs" asp-action="ListaProduse">Lista Produse</a>
    <a asp-controller="Home" asp-action="Despre">Despre</a>
</div>
